body{
    background: linear-gradient(45deg, black, #282C35);
    height: 100%;
    text-shadow: 2px 2px 5px red;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(5px);
}

h1{
    color: whitesmoke;
    text-shadow: 2px 2px 5px red;
    position: absolute;
    top: 500px;
    left: 300px;
}
p{
    color: rgb(220, 158, 158);
}

img{
    width: 500px;
    height: 400px;
    position: absolute;
    left: 150px;
    top: 90px;
}
p{
    color: whitesmoke;
    position:absolute;
    top: 550px;
    left: 340px;
}
#prev{
    background-color: rgb(64, 161, 82);
    position: absolute;
    top: 600px;
    left: 340px;
}
#play{
    background-color: rgb(164, 67, 67);
    position: absolute;
    top: 600px;
    left: 410px;
}
#next{
    background-color: rgb(44, 163, 62);
    position: absolute;
    top: 600px;
    left: 470px;
}
.prev{
    color: whitesmoke;
    height: 5vh;
}


